.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	gap: 16px;
	margin: 15px 0;
}

.cardWrapper {
	border: 1px solid grey;
	border-radius: 4px;
}

.cardWrapper a {
	text-decoration: none;
}

.productName {
	padding: 4px;
	margin-top: 8px;
	margin-bottom: 0;
	color: darkgrey;
	font-weight: bold;
}