.form {
	display: flex;
	gap: 10px;
	margin: 20px 0;
}

.input {
	padding: 5px 10px;
	color: #121212;
	border-radius: 3px;
}

.btn {
	padding: 5px 10px;
	border-radius: 3px;
	background-color: darkgreen;
}