.container {
	border: 1px solid lightslategray;
	border-radius: 4px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.text {
	margin: 0;
}

.btn {
	background-color: darkolivegreen;
	padding: 7px 15px;
	border-radius: 3px;
}